.gif-item-container {
    position: relative;
    margin: 10px;
}

.gif-item-container .liked-button {
    position: absolute;
    margin: 5px;
    right: 0;
    border: transparent;
    background-color: transparent;
}

.gif-item-container .gif-item {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}