.searched-items-container {
    margin: 120px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}
.searched-items-container .searched-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

