.search-container {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
.search-container .search-input {
    padding: 10px 20px;
}
.search-container .search-button {
    padding: 10px 20px;
    border-color: transparent;
    background-color: rgb(103, 177, 237);
    color: #fff;
    cursor: pointer;
}